body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: rgb(66, 250, 158);
    font-weight: bold;
}
.row h2{
    text-align: center;
    color: rgb(152, 214, 111);
    font-weight: bold;
}
.row .first{
    text-align: center;
    font-weight: bold;
}
.row .first ol li{
    list-style: none;
}
.row .first img{
    height: 100%;
    width: 100%;
}
